* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/** this is to chnage things on a global scale.*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#ee970b;
    transition: .5s;
}
/**creating styles for the entire body witch is the orange BG*/

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.OrangeBG{
 
        position: absolute;
        top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 420px;
        background: rgba(255,255,255, .2);
        box-shadow: 0 5px 45px rgba(0,0,0, .15);
}

.OrangeBG .box {
    position:  relative;
    width: 50%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-box {
    position:absolute;
    background: #fff;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0, .25); 
    transition: ease-in-out .5s;
}
/** this causes the slide to move left and right */
.form-box.active {
    left: 50%; 
}

.box h2 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.OrangeBG .box button {
    padding: 10px 20px;
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor:pointer;
}

